{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Pastebin Application</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Pastebin Application</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'create_paste' %}">Create Paste</a></li>
            <li><a href="{% url 'paste_list' %}">Paste List</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Sam Power Coding Genius Ltd</p>
    </footer>
</body>
</html>
